body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
}

#root {
  width: 100%;
  max-width: 100%;
}

.rank {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  top: -2%;
  right: -2%;
  z-index: 2;
}

.rank span {
  z-index: 3;
}

.card .card-image .card-title {
  width: 100%;
}

.card .card-image .info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 20px;
}

.card .card-image {
  text-shadow: 1px 1px 2px #000;
}

.main {
  padding-top: 1em;
}

.main h1 {
  font-size: 3em;
}

.btn-large {
  margin: 1em;
}

footer.page-footer {
    background-color: transparent;
}

footer .center-align a {
  margin: 0;
}